@font-face {
  font-family: 'ExocetLight';
  src: url('fonts/exocet_light_regular.ttf');
}

body {
  background-image: url('../images/woodgrain.jpg');
  background-color: #efefef;
  color: #2d1402;
  /*font-family: Arial, sans-serif;*/
  font-family: 'Bentham', Georgia, serif;
}

#content {
  width: 50%;
  font-size: 120%;
  margin: 0 auto 0 auto;
  text-align: center;
}

h1 {
  font-family: /*'ExocetLight',*/ 'Jim Nightshade', serif;
  margin: 100px auto 10px auto;
  font-size: 300%;
}

h3 {
  font-weight: normal;
  margin: 10px;
}

table {
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

button, select {
  background-color: #750303;
  color: #efefef;
  font-size: 16px;
  font-family: inherit;
  border: 1px solid #2d1402;
  border-radius: 2px;
  outline: 0; }

button{
  font-style: italic;
  margin: 20px;
  padding: 5px;

  text-transform: uppercase;
}

button:active, select {
  color: #750303;
  background-color: #efefef;

}
